{% extends 'base.html' %}

{% block title %}{{ product.title }}{% endblock %}

{% block content %}
<div id="productapp">
    <img src="{{ product.image.url }}">
    <h1 class="title">{{ product.title }}</h1>
    <h2 class="subtitle" >{{ product.title }}</h2>

    {% if product.description %}
        <p>{{ product.description }}</p>
    {% endif %}

    <button v-on:click="AddToCart({{ product.id }})">Add to Cart</button>
</div>
{% endblock %}

{% block scripts %}
<script>
    var productapp = new Vue({
        el:'#productapp',
        delimeters: ['[[',']]'],
        store: store,
        data() {
            return {

            }
        },

        mounted() {
            console.log('Mounted')
        },
        methods: {
            AddToCart(prod_id){
                console.log(prod_id)

                var data = {'product_id':prod_id, 'update':false, 'quantity':1}

                fetch('/api/AddToCard/',{
                    method: 'POST',
                    headers: {
                        'Content-Type':'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    console.log(response)
                    store.commit('increment',1)
                })
                
                .catch(function error(){
                    console.log('Error 2')
                })
            }
        }
    })
</script>
{% endblock %}